.comment-card {
  display: flex;
  flex-direction: column;
  position: relative;
  //padding: 10px;

  + .comment-card {
    margin-top: 25px;
  }

  .header {
    display: flex;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
  }

  .body {
    margin-top: 70px;
    @include responsive(min-md) {
      margin-top: 50px;
      margin-left: 75px;
    }
  }

  .card-media {
    img {
      width: 60px;
      height: 60px;
      border-radius: 50%;
    }
  }

  .comment-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    .item {
      display: flex;
      flex-direction: column;
      @include responsive(min-md) {
        flex-direction: row;
        align-items: center;
      }
    }

    .username {

      font-size: 12px;
      font-weight: bold;
      color: #000000;

      @include responsive(min-md) {
        padding-right: 10px;
        font-size: 18px;
      }
    }

    .date {
      font-size: 10px;
      @include responsive(min-md) {
        //  font-size: 15px;
      }
    }
  }

  .comment-options {
    margin-left: auto;

    &:focus {
      outline: none;
    }

    .btn {
      &:focus {
        box-shadow: none;
      }
    }
  }

  .comment-content {
    padding: 15px;
    background-color: #ffffff;
  }

  .attached-files {
    .attached-file {
      margin-top: 10px;
    }

    .attached-file-info {
      color: grey;
      font-size: 10px;
    }
  }

}

.comment-section {
  padding: 10px 0;

  .section-title {
    font-size: 20px;
    color: red;
  }
}

.comment-list {
  // background-color: #ffffff;
}