.comment-card-list {
  .comment-card {
    padding: 10px;
    border-radius: 10px;
    box-shadow:0 0px 3px 0px;
    background-color: #ffffff;
    + .comment-card{
      margin-top:15px;
    }

    .header {
      display: flex;
      justify-content: space-between;
      padding-bottom:10px;
      border-bottom: 1px solid #706767;

      .item {
        display: flex;
        align-items: center;
      }

      .user-image {
        border-radius: 50%;
      }

      .title {
        padding-left: 10px;
        margin-top:auto;
        margin-bottom: 10px;
        font-size:16px;

      }

      .date{
        margin-top: auto;
        margin-bottom: 10px;
        padding-left: 10px;
        font-size:11px;
      }

      .btn-option{
        &:hover{
          .icon{
            color:#b224ef;
          }
        }
        &:focus{
          box-shadow: none;
        }
      }

    }

    .comment-body {
      padding: 10px;
    }

    .comment-footer{
      padding:0 10px 10px;
    }
  }
}




//background: -webkit-linear-gradient(top, #7579ff, #b224ef);