#root {
  background-color: #f2f2f2;
  min-height: 100%;
}

body {
  min-height: 100vh;
  background-color: #f7f3f3;
  @include responsive(min-lg){
    background-color: red;
}
  @include responsive(min-xxl){
    background-color: yellow;
  }
}

.summary-card {
  display: block;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 0 0.875rem 0 #c6cace;
  background-color: #fff;
  color: #000;

  &:hover {
    text-decoration: none;
    color: #000;
    background-color: #f3e8e8;
  }

  .header {
  }

  .body {
    padding-bottom: 10px;

    .content {
      word-break: break-all;
    }
  }

  + .summary-card {
    margin-top: 15px;
  }
}

/************************************/

.comment-card {
  .header {
    display: flex;
    justify-content: space-between;

    .user-info {
      display: flex;

      .username {
      }

      .date {
      }
    }

  }

  .body {
    .desc {
    }

    .attachments {
    }
  }
}

.task-detail-wrapper {

  .task-content {
    padding: 20px;
    background-color: #ffffff;
    .header{
      display: flex;
      margin-bottom: 10px;
      .user-img{
        margin-right: 10px;
        width: 48px;
        height: 48px;
      }
    }
    .body{
      .task-title{}
      .content{

      }
    }
    .footer{
      .date{}
    }
  }

  .task-operation {
    background-color: #ffffff;
    padding: 20px;
    ul {
      padding: 0;
      list-style: none;


      li {
        display: flex;
        align-items: center;

        + li {
          margin-top: 20px
        }

        .label {
          width: 100px;
          margin-bottom: 0;
          font-size: 15px;
        }
      }
    }
  }
}
