#root {
  background-color: #f2f2f2;
  min-height: 100%;
}

body {
  min-height: 100vh;
  background-color: #f7f3f3;
}

.summary-card {
  display: block;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 0 0.875rem 0 #c6cace;
  background-color: #fff;
  color: #000;

  &:hover {
    text-decoration: none;
    color: #000;
    background-color: #f3e8e8;
  }

  .header {
  }

  .body {
    padding-bottom: 10px;

    .content {
      word-break: break-all;
    }
  }

  + .summary-card {
    margin-top: 15px;
  }
}

.task-detail-wrapper {
  margin-bottom: 20px;

  .task-content {
    padding: 20px;
    background-color: #ffffff;

    .header {
      display: flex;
      margin-bottom: 10px;

      .user-img {
        margin-right: 10px;
        width: 60px;
        height: 60px;
        border-radius: 50%;
      }
    }

    .body {
      .task-title {
      }

      .content {

      }
    }

    .footer {
      .date {
      }

      .attached-files {
        .attached-img {
        }
      }
    }
  }

  .task-operation {
    background-color: #ffffff;
    padding: 20px;
    margin-top: 20px;

    @include responsive(min-lg) {
      margin-top: 0;
    }

    ul {
      padding: 0;
      list-style: none;


      li {
        display: flex;
        align-items: center;

        + li {
          margin-top: 20px
        }

        .label {
          width: 100px;
          margin-bottom: 0;
          font-size: 15px;
        }
      }
    }
  }

  .attached-files {
    .attached-file {
      margin-top: 10px;
    }

    .attached-file-info {
      color: grey;
      font-size: 10px;
    }
  }
}


/************************************/

.photo-upload-widget-wrapper {
  .avatar {
    margin: 0;
    width: 100%;
    height: 100%;
    max-width: 200px;
    max-height: 200px;
    border-radius: 50%;
    img{
      border-radius: 50%;
    }
  }
}

.photo-modal{

}